<ion-header>

</ion-header>

<ion-content>
  <ion-button style="padding-left:83%; padding-top:2%;" routerLink="/home">Skip</ion-button>
  <ion-img src="../../assets/images/userback.png" ></ion-img>
    <div style="padding-left:2%;padding-right:2%;">
      <p style="text-align: center;">Welcome Consumer..!! Please login to continue </p>
    <ion-item>
        <ion-label  position="floating">Enter your mobile number</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-button expand="block" fill="outline">Login</ion-button>
     </div>
</ion-content>
