<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Groceries App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <strong>Take a brief to understand the app</strong><br><br>
  <ion-img src="../../assets/images/intro.jpg" ></ion-img>
  <ion-button id="open-modal" expand="block">Got it.</ion-button>

  <ion-modal style="padding-left: 2%; padding-right: 2%;" #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Select Type</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      
        <ion-list>
          <!-- user model -->
          <a href="ulogin" style="text-decoration: none; color:black;">
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="../../assets/images/man.png"></ion-img>
            </ion-avatar>

            <ion-label>
              
        
              Customer
            </ion-label>
          </ion-item></a>
         <!-- shop keeper model -->
          <a href="test" style="text-decoration: none; color:black;">
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="../../assets/images/shops.png"></ion-img>
              </ion-avatar>
  
              <ion-label>
                
          
                Shop Keeper
              </ion-label>
            </ion-item></a>
        
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
