<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Groceries App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <strong>Take a brief to understand the app</strong>
  <img src="../../assets/images/intro.jpg" />
  <ion-button id="open-modal" expand="block">Got it.</ion-button>

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Select Type</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      
             <ion-button expand="block">Customer</ion-button>
             <ion-button expand="block">Shopkeeper</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
